body {
    padding: 2%; 
    margin: 20px;
    background-color: #F0E68C !important;
    font-size: 14px;
}

.botao{
    color: #FFFF00  !important;
}

.botaoLink{
    color: #00E !important;
    border-bottom: 1px solid !important;
}