body {
    padding: 1%; 
    margin: 20px;
    background-color: #F8F8FF !important;
    font-size: 14px;
}

.botao{
    color: #FFFF00  !important;
}

.botaoLink{
    color: #00E !important;
    border-bottom: 1px solid !important;
}

.link{
    color: #00E !important;
}

.cabecalho{
    background-color: #4682B4 !important;
    height: 70px;  
    width: 100%;
}

